<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tableau de bord
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Accueil</a></li>
      <li class="active">Tableau de bord</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-institution"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Visites</span>
            <span class="info-box-number">0</span>
          </div>
        </div>
      </div>
      <!-- /.col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Visites effectuées</span>
            <span class="info-box-number">0</span>
          </div>
        </div>
      </div>
      <!-- /.col -->

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-user-secret"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Visites exécutées</span>
            <span class="info-box-number">0</span>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-cogs"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Non exécutées</span>
            <span class="info-box-number">0</span>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-body">
            <div class="row">
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-green"><i class="fa fa-user"></i></span>
                  <h5 class="description-header">0</h5>
                  <span class="description-text">Visites</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-yellow"><i class="fa fa-tasks"></i></span>
                  <h5 class="description-header">0</h5>
                  <span class="description-text">Visites exécutées</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-green"><i class="fa fa-tasks"></i></span>
                  <h5 class="description-header">0</h5>
                  <span class="description-text">Non exécutées</span>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block">
                  <span class="description-percentage text-red"><i class="fa fa-bookmark"></i></span>
                  <h5 class="description-header">0</h5>
                  <span class="description-text">En attente de rapport</span>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
