<form name="detailForm">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear()">
      <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Detail</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-control-label" for="role">Role</label>
          <input type="text" class="form-control" id="role" name="role" disabled [(ngModel)]="authority.name" [ngModelOptions]="{standalone: true}" >
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="clear()"><i class="fa fa-ban"></i>&nbsp;<span>Annuler</span></button>
  </div>

</form>
