<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a routerLink="/"><b>Template</b>User<b>Admin</b></a>
  </div>
  <div class="alert alert-danger" *ngIf="!success">
    <strong>L'adresse e-mail n'est pas enregistrée!</strong> Veuillez vérifier et réessayer.
  </div>

  <div class="alert alert-success" *ngIf="success">
    <p>Consultez vos e-mails pour savoir comment réinitialiser votre mot de passe.</p>
  </div>

  <div class="lockscreen-name">Réinitialisation</div>

  <div class="lockscreen-item" *ngIf="!success">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
      <img src="assets/img/avatar.png" alt="User Image">
    </div>
    <!-- /.lockscreen-image -->

    <!-- lockscreen credentials (contains the form) -->
    <form class="lockscreen-credentials" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">

      <div class="input-group">
        <input id="email" name="email" type="email" formControlName="email" class="form-control" placeholder="Votre e-mail" #email>

        <div class="input-group-btn">
          <button type="submit" [disabled]="resetRequestForm.invalid" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
        </div>

      </div>

    </form>
    <!-- /.lockscreen credentials -->
  </div>
  <div class="text-center" *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
    <small class="form-text text-danger"
           *ngIf="resetRequestForm.get('email').errors.email">
      Votre adresse e-mail est invalide.
    </small>
    <small class="form-text text-danger"
           *ngIf="resetRequestForm.get('email').errors.minlength">
      Votre adresse email doit comporter au moins 5 caractères.
    </small>
    <small class="form-text text-danger"
           *ngIf="resetRequestForm.get('email').errors.maxlength">
      Votre e-mail ne doit pas comporter plus de 100 caractères.
    </small>
  </div>
  <!-- /.lockscreen-item -->
  <div class="help-block text-center">
    Entrer votre adresse e-mail pour changer votre mot de passe
  </div>
  <div class="text-center">
    <a routerLink="/login">j'ai déjà un compte</a>
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy; 2021 <b><a href="http://skysoft.cm" class="text-black">Skysoft Technology</a></b><br>
    LocalExternCRM
  </div>
</div>
